// @import '../../../css/global.scss';

.round {
  border-radius: 5px
}

#wiki-navbar-fixed {
  height: 100px;
}

#wiki-nav {
  height: 100px;

  #wiki-back {
    margin: 15px 0 0 20px;
  }

  a#wiki-brand-logo {
    margin-top: 15px;
    font-size: 3em;
    font-family: 'Ovo', serif;
  }
}

#wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  // display: flex;
  // align-items: center;
  flex: 1 0 auto;
  padding-bottom: 35px;

  #random {
    margin-top: 20px;
  }

  #search-container {

    #search {
      // margin: 1vh 0;

      &[type="text"] {
        font-size: 2em;
        text-align: center;
      }
    }

    #search-icon {
      margin: 1vh 0;
    }
  }

  #searchList {
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    &:hover {
      -moz-transition: scale(1.1);
      -webkit-transition: scale(1.1);
      -o-transition: scale(1.1);
      transform: scale(1.1);
    }

    hr {
      border: .5px solid #000;
    }

    p {
      padding: 0 20px;
    }
  }
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .1rem;
  color: #263238;
  text-align: center;
  border-top: 1px solid #263238;

  a {
    color: #fff;
  }
}
