.button-collapse {
  margin-left: 20px;
}

// #XMLID_244_ {
//   pointer-events: bounding-box;
//
//   &:hover {
//     display: none;
//   }
// }

#main-nav {
  background-image: url('/static/images/JoshHeader.svg');
  background-size: cover;
  height: 170px;
  // margin: 0 -10px;
  // overflow-y: visible;
  background-color: transparent;
  // margin-bottom: 20px;
  border-radius: 0;
  box-shadow: none;

  .nav-wrapper {
    .brand-logo {
      font-size: 1.7em;
      margin: 20px 0 0 100px;
      font-family: 'Courgette', cursive;
      // position: relative;
      // top: 20px;
      // left: 100px;
    }

    // img {
    //   position: fixed;
    //   top: 20.42px;
    //   left: 305px;
    //   width: 120px;
    //   height: 120px;
    // }
  //
  //   ul.right {
  //     position: fixed;
  //     right: 320px;
  //     z-index: 3;
  //   }
  }
}
