// .button-collapse {
//   margin-left: 20px;
// }
//
// #main-nav {
//   background-image: url('/static/images/JoshHeader.svg');
//   background-size: cover;
//   height: 170px;
//
//   background-color: transparent;
//   border-radius: 0;
//   box-shadow: none;
//
//   .nav-wrapper {
//     .brand-logo {
//       font-size: 1.7em;
//       margin: 20px 0 0 100px;
//       font-family: 'Courgette', cursive;
//
//     }
//   }
// }

#main-nav {
  height: 180px;
  padding-top: 20px;
  overflow: hidden;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  .center-nav {

    ul {
      width: 685px;
      margin: 0 auto;

      li {
        margin-top: 35px;
        border-bottom: 1px solid black; //rgba(255, 151, 0, 1)
        margin: 35px 20px 0 20px;
        width: 100px;

        a {
          padding: 0;
        }
      }

      .logo {
        margin: 0 35px 0 -15px;
        border: none;

        a {
          width: 150px;
        }
      }
    }
  }

  a.mobile-logo {
    margin: 0 auto;
    text-align: center;
    position:absolute;
    top: 2%;
    left: 40%;

    img {
      width: 150px;
      margin: 0 auto;
    }
  }

  .button-collapse {
    margin-left: 20px;
    margin-top: -10px;
  }
}

// .example-enter {
//   opacity: 0.01;
//   transition: opacity .5s ease-in;
// }
//
// .example-enter.example-enter-active {
//   opacity: 1;
// }
//
// .example-leave {
//   opacity: 1;
//   transition: opacity .5s ease-in;
// }
//
// .example-leave.example-leave-active {
//   opacity: 0;
// }
//
// .link-active {
//   color: #bbbbbb;
//   text-decoration: none;
// }
