#body {
  background-image: url('/static/images/home-bg1.jpg');
  background-size: cover;
  height: 100vh;
}

.main-card {
  margin-top: 30vh;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;

  .c-title {
    margin-top: 40px;
    // border-bottom: 1px solid rgba(33, 150, 243, 1);

    h1 {
      margin-bottom: 10px;
    }
  }

  .c-content {
    margin: 20px 0px;

    h3:last-child {
      margin-top: -10px;
    }
  }
}

@media only screen and (max-width: 1338px) {
  .main-card {
    margin-top: 15vh;
  }
}

@media only screen and (max-width: 992px) {
  .main-card {
    margin-top: 20vh;
    width: 50vw;

    .c-title {
      h1 {
        font-size: 3.5rem;
      }
    }

    .c-content {
      h3 {
        font-size: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 598px) {
  .main-card {
    margin-top: 20vh;
    width: 70vw;

    .c-title {
      h1 {
        font-size: 2.5rem;
      }
    }

    .c-content {
      h3 {
        font-size: 1.5rem;
      }
    }
  }
}
